<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../static/media/icon.jpg"/>
    <title>Index</title>
    <!--    IMPORTS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"
            integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ=="
            crossorigin="anonymous"></script>

    <!--    JS-->

    <!--    CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/navbar.css') }}">


</head>
<body>
<div class="topnav" id="myTopnav">
    <a href="#home" class="active">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    <a href="" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>

<p align="center"><a href=relateds>
    <button class=grey style="height:75px;width:150px">Relateds</button>
</a></p>
<p align="center"><a href=timeline>
    <button class=grey style="height:75px;width:150px">Timeline</button>
</a></p>

</body>
</html>

