<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../static/media/icon.jpg"/>
    <title>Relateds</title>
    <!--    IMPORTS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"
            integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ=="
            crossorigin="anonymous"></script>

    <style>@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');</style>
    <style>@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap');</style>
    <!--    JS-->
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    <!--    CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/steps.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/navbar.css') }}">

</head>
<body>
<div class="topnav" id="myTopnav">
    <a href="{{ url_for('index') }}">Index</a>
    <a href="{{ url_for('relateds') }}" class="active">Relateds</a>
    <a href="#contact">People</a>
    <a href="#about">FAQ</a>
    <a href="" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>

<div class="center">
    <form method="POST">
        <input type="text" id="submitter" name="submitter" value="" hidden>
        <input id="input" name="firstAnime" type="text">
        <br>
        <input id="submitButton" class="submit" type="submit" value="START" onclick="checkForm(this.id)">
    </form>
</div>

</body>
</html>

