<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Relateds</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/relateds.css') }}">

</head>
<body>

<div class="center">
    {% if olds %}
        {% for old_anime in olds %}
            <p class="anime old"><button type="button" id="old{{ loop.index0|string }}">{{ old_anime.name }}</button></p>
        {% endfor %}
        <hr>
    {% endif %}
    {% if news %}
        {% for new_anime in news %}
            {% if new_anime.id|string in to_remove %}
                <p class="anime new"><button type="button" id="new{{ loop.index0|string }}" style="text-decoration:line-through; color:#808080" onclick="remove({{ new_anime.id }}, {{ loop.index0 }})">{{ new_anime.name }}</button></p>
            {% else %}
                <p class="anime new"><button type="button" id="new{{ loop.index0|string }}" onclick="remove({{ new_anime.id }}, {{ loop.index0 }})">{{ new_anime.name }}</button></p>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>

<div class="center">
    <form method="POST" onsubmit="loadingForm('nextStepButton')">
        <input type="submit" class="submitButton" id="nextStepButton" name="nextStep" value="NEXT STEP">
        <input type="submit" class="submitButton" id="sortByButton" name="sort" value="SORT BY">
        <label id="sortByOptionsLabel" for="sortByOptionsDropdown"></label>
            <select id="sortByOptionsDropdown" name="sort_select">
                <option value="duration">Duration</option>
                <option value="date_end">Ending Date</option>
                <option value="episodes">Episodes</option>
                <option value="favorites">Favorites</option>
                <option value="id">ID</option>
                <option value="members">Members</option>
                <option value="name">Name</option>
                <option value="popularity">Popularity</option>
                <option value="ranked">Ranking</option>
                <option value="score">Score</option>
                <option value="date_start">Starting Date</option>
            </select>
    </form>
</div>
</body>
</html>

