<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timeline</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"
            integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/timeline.js') }}"></script>
    <script type="text/javascript">
        google.charts.load("current", {packages: ["timeline"]});
        google.charts.setOnLoadCallback(function() {drawChart({{data | tojson | safe}})});
  function drawChart(data) {
      data = JSON.parse(data)
      var container = document.getElementById('event-timeline');
      var chart = new google.visualization.Timeline(container);
      var dataTable = new google.visualization.DataTable();
      dataTable.addColumn({type: 'string', id: 'Type'});
      dataTable.addColumn({type: 'string', id: 'Name'});
      dataTable.addColumn({type: 'date', id: 'Start'});
      dataTable.addColumn({type: 'date', id: 'End'});
      data.forEach(anime => {
          var type = anime.type
          var name = anime.name
          var date_start = new Date(anime.date_start.split(" "))
          var date_end = new Date(anime.date_end.split(" "))
          dataTable.addRow([type, name, date_start, date_end])
      })


      var options = {
          hAxis: {
              maxValue: new window.Date()
          },
          timeline: {singleColor: '#1f1f1f'},
          backgroundColor: '#efefef',
          avoidOverlappingGridLines: false,
          height: 512,
      };

      var observer = new MutationObserver(setBorderRadius);
      google.visualization.events.addListener(chart, 'ready', function () {
          var labels = container.getElementsByTagName('text');
          setLabelColor(labels);
          setBorderRadius();
          observer.observe(container, {
              childList: true,
              subtree: true
          });
      });

      function setLabelColor(labels) {
          Array.prototype.forEach.call(labels, function (label) {
              if (label.getAttribute('text-anchor') === 'middle') {
                  label.setAttribute('fill', '#efefef');
              }
          });
      }

      function setBorderRadius() {
          let i = 0
          Array.prototype.forEach.call(container.getElementsByTagName('rect'), function (rect) {
              if (parseFloat(rect.getAttribute('x')) > 0) {
                  if (dataTable.getValue(i, 2).getTime() == dataTable.getValue(i, 3).getTime()) {
                      // rect.setAttribute('rx', 20);
                      // rect.setAttribute('ry', 20);
                      // rect.setAttribute('width', 20);
                      // rect.setAttribute('height', 20);
                  }
                  i++
              }

          });
      }

      chart.draw(dataTable, options);
  }
    </script>

    <!--    <script type="text/javascript">drawChart({{ data|tojson|safe }})</script>-->
</head>
<body>

<div id="event-timeline" style="height: 200px;">test</div>


</body>
</html>

