html,
body {
    height: 100%;
}

body {
    font-family: sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 16px;
}

.container {
    margin: auto;
    width: 80%;
    justify-content: center;
    align-content: center;
}

table {
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
    width: 80%;
    border-collapse: collapse;
    overflow: hidden;
}

th,
td {
    padding: 15px 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    text-align: center;
    min-width: 75px;
    max-width: 300px;
}

thead th {
    background-color: #181818;
    font-size: 18px;
    font-weight: bold;
}

.normalRow:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

#extraRow {
    background-color: rgba(200, 0, 255, 0.3)!important;
}